<!DOCTYPE html>
<html ng-app="helloWorld">
<head>
	<title>Hello world</title>
	<script src="angular.min.js" type="text/javascript"></script>
	<script src="codigos.js" type="text/javascript"></script>
	<script src="codigo2.js" type="text/javascript"></script>
	<script src="operadorasAPI.js" type="text/javascript"></script>
	<script src="factory.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>


	<style type="text/css">
		body{
			background-color: black;
			color: white;
		}
	</style>
</head>

<!-- todos os tipos de dados tem sua propriedade apos o ponto, dezenas propriedades para cada hora iremos usar algum tipo dela, é o famoso __proto__ explicacao melhor la nas video aula da rocket do maike -->
<body>
	<h1>Hello world!!</h1>
	<p>Teste!</p>

	<div ng-app="helloWorld2">
		<div >
			{{message}}
		</div>
		
	</div>


	<!-- a duas letrunhas chaves chamadas "as" dentro da controller neste caso estamos usando "as POP" estamos dizendo que variaveis criada no controller com this.nomedavariavel, so pode ser acessado usando o as criado logo a baixo -->
	<div ng-controller="helloWorldkk as POP"  class="jumbo">
		<div class="separado">
			{{ message + 'concatenar'}}
			{{'LOL' + LOL}}
			<!-- porque o concatenar de baixo nao funfou? -->
			<!-- <h4 ng-bind="message"> {{ message + 'concatenar'}}</h4> -->
			<h5>{{ hello + ' concatenar'}}</h5>
			<p ng-if="algo == 11">{{algo + 'teste com algo'}}</p>
			<p ng-show ="vdd == true">{{ algo + ' teste com ng show'}} </p>
		</div>
		<p>{{app + 'nome do app'}}</p>
		<p>{{ algo + 20 }}</p>
		<p>{{ vdd && false }} </p>
		<p>{{ lista[1] }} </p>
		<p>{{ contatos[0].nome }} </p>
		<p>{{ mensagem }}BAIXO </p>
		<span>{{ POP.kac }}</span>
		<p>{{ mim }}</p>

		<span> AULA DE ANGULARJS FACUL !!</span><br><br><br><br><br>
		<span>{{ POP.douglassantos }}</span>
		<button ng-click="POP.olhaoclick('90')">CLICK{{POP.douglassantos2}}</button>


		<input ng-change="POP.teste()" ng-blur='teste2()'  placeholder="pesquise" type="text" name="textoo"  ng-model="busca.nome" id="lara">

		<!-- para pesquisa uma coluna especifica temos  que colocar no ng-bind qual coluna queremos de fato usar como referencia para filtrar -->
		<!-- paipe o nome desse traço que esta separando as coisas no ng-repeat a baixo -->
		<!-- com o filter dois pontos nome da varaivel que colocamos no ino=out que ira receber o valor que sera usado para filtrar  -->
		<div ng-repeat="teste in POP.listao | filter:busca" ng-class="POP.verificarStatus(teste.status)">
			<span>{{teste.nome}}</span>
			<span>{{teste.tel}}</span>
			<span>{{teste.status}}</span>
		</div>


		<h2>FORMULARIO NEW</h2>

		<form ng-submit="POP.submit2()" name="alvos">

			<input type="text" name="nome" class="nome" ng-model="POP.aluno9.nome" placeholder="nome" required ng-minlength="4"/>

			<input type="text" name="curso" ng-model="POP.aluno9.curso" placeholder="curso" required ng-maxlength="4" class="curso">

			<input type="submit" name="submit" value="submit1">

			<select ng-model="POP.listaa" ng-options="c.nome for c in POP.listao">
				
			</select> <br><br>

			<label>
				<input type="radio" name="krl" ng-model="POP.listaaa" value="krl">
				krl
			</label>


			<label>
				<input type="radio" name="krl" ng-model="POP.listaaa" value="krl2">
				krl2
			</label>

			{{POP.listaa}}


			<div ng-repeat="teste in POP.listao">
				<label>
					
					<input type="checkbox" name="checkbox" ng-model="teste.status" ng-true-value="'aprovadooo'" ng-false-value="'reprovado'">
				</label>
				{{teste.status}}
				<!-- agora com esse script dentro do html podemos mudar a cor das duas chaves que eestao usando os valores que estao dentro desse listao so olhar o a pagina -->
				
			</div>

			<div ng-controller='segundo'>
				{{mensagem99}}
				
			</div>
				
			
			
		</form>

		<div ng-show="alvos.nome.$error.required" class="alert alert-danger">
				Por favor preencha o nome
		</div>


		<div  ng-show="alvos.curso.$error.required" class="alert alert-danger">
				Por favor preencha o curso
		</div>

		

		<br><br><br><br><br>
		<span> FIM AULA DE ANGULARJS FACUL!!</span>


		
		


			
		<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="o que voce esta buscando?">
		<table ng-show="contatos.length > 0" class="table table-striped tabela">
			<tr>
				<th></th>
				<th><a href="" style="text-decoration: none;" ng-click="ordernarPor(nome)"> Nome</th>
				<th><a href="" ng-click="ordernarPor(telefone)">Telefone</th>
				<th><a href="">Codigo</th>
				<th>Operadora</th>
				<th></th>
				<th>Data</th>
			</tr>

			<!-- filter, precisamos de um input que receba os valores, e entre chaves colocamos o ng-model dele e colocamos entre chaves o nome do campo que queremos filtrar -->

			<!-- orderBy usamos para organizar os valores que tem na tebela, neste caso estamos orgaizando por ordem alfabetica usando os valores do campo nome -->

			<!-- a barra reta que temos dentro do nr-repeat se chama pipe e ele serve para dizer que iremos colocar mais condicoes na diretiva -->

			<!-- !!!!!!!   esse ng-repet tenho que rever ele porque ja esqueci oque é e como faz !!!!!!! -->
			<tr ng-class="{ selecionado: item.selecionado, negrito: item.selecionado}" ng-repeat="item in contatos | filter:{nome:criterioDeBusca} | orderBy:criterioDeOrdenacao:direcaoOrOrdenacao">
				<td><input type="checkbox" ng-model="item.selecionado">
					<!-- me parece que dentro dessa tag quando inserimos o codigo item.selecionado, me parece que ele insere a classe selecionado com valor boleano para cada valor dentro de cada item dentro do array contatos, quando colocamos {{contatos}} conseguimos ver melhor isso -->
				</td>
				<td>{{ item.nome }}</td>
				<td>{{ item.telefone }}</td>
				<td>{{ item.codigo }}</td>
				<td>{{ item.operadora }}</td>
				<td><div style=" width: 20px; height: 20px;" ng-style="{ 'background-color':item.cor }"></div></td>
				<td>{{ item.data | date: 'dd/MM/yyyy hh:mm'}}</td> 
				<!-- com essa label com forma de data conseguimos definir como iremos mostrar as datas na interface -->
			</tr>
		</table>

		<!-- $valid serve para dizer se o campo existe um valor ou nao, e como se fosse se o cmapo foi validado sim ou nao?-->
		{{contatoForm.$valid}}
		{{contatoForm.$invalid}}
		<form name="contatoForm">
			<input class="form-control" type="text" name="nome" ng-model="contatos.nome" placeholder="nome" ng-required="true" />
			<input class="form-control" type="text" name="telefone" ng-model="contatos.telefone" placeholder="telefone" ng-required="true" ng-minlength="8" ng-pattern="/^\d{4,5}-\d{4}$/"/>
			<select class="form-control" ng-model="operadora" ng-options="operado.nome + '(' + (operado.preco | currency) + ')' group by operado.categoria disable when operado.nome =='Tim' for operado in operadoras">
				<!-- o valor que ficaria em branco agora sera preenchido com o valor da linha de baixo -->
				<option value="">Selecione uma operadora</option>
			</select>
			<input class="form-control" type="text" name="cor" ng-model="contatos.cor" placeholder="cor" ng-maxlength="5"/>
		</form>

		<!-- $valid e $invalid serve para dizer que o input  -->

		<!-- currency trnsforma o valor em moeda estamos usando isso la na operadora -->

		<!-- para usar a moeda em reais tenho que baixar o um arquivo do angularjs -->


		<p class="olha">{{ contatos.nome | uppercase}}</p>
		<p class="olha">{{ contatos.telefone }}</p>
		<p class="olha">{{ "Operadora " + operadora.nome +"/ Codigo"+ operadora.codigo}}</p>



		<!-- essa linha de baixo so funciona para a linha 23 comentada la no js -->
		<!-- ng-click="adicionarContato(nome,telefone) -->

		<button class="btn btn-primary btn-block" ng-click="adicionarContato(contatos,operadora)" ng-disabled="!contatos.nome || !contatos.telefone" ng-required="contatoForm.$invalid">Adicionar Contato</button>


		<!-- !!!!! DEPOIS REVER SOBRE ESSAS MENSAGENS QUE SAO ALERTADAS LA NA HORA NAS LINHAS DE BAIXO ng-message !!!!!!! -->
		<!-- esta dando erro no ng-message -->

		<!-- ng-show="contatoForm.nome.$invalid && contatoForm.nome.$dirty" -->
		<div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
			<div ng-message="required">
				Por favor preencha o nome
			</div>
		</div>


		<!-- mensagem de erro para telefone -->
		<div class="alert alert-danger" ng-show="contatoForm.telefone.$error.pattern ">Por favor preencha o telefone com 8 digitos no formato 99999-6666</div>

		<!-- a  mensagem de cima so ira aparecer quando o campo telefone for preenchido -->


		{{operadora}}
		<!-- para que fica mais facil dizemos invocar a funcao quando colocar o ng-click e atribuimos um nome e entre parente o valor que essa funcao ira receber ( invocar a funcao / kkk conjurar funcao) -->

		<!-- colocando o ng-required dentro do button estamos dizendo que quando o contato.form for valido irá liberar o botao "acender" o botao -->
		<button class="btn btn-danger btn-block" ng-click="ApagarContatos(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Excluir usuario</button>

		<!-- usamos o ng-show para esconder alguma coisa, por exemplo queremos esconder o botao de baixo caso a funcao que colocamos dentro do ng-show retornar false, caso o retorno seja true o botao de baixo sera mostrado -->
		<button class="btn btn-danger btn-block" ng-click="here()" ng-show="isContatoSelecionado(contatos)">Teste ng show</button>
		 <!-- o botao de cima so ira aparecer quando o checkbox for selecionado -->
		 <!-- EXISTE O ng-hide TAMBEM -->



<!-- peguei do trabalho isso -->
<!-- creditData.personalCreditDataForm['creditData-banks-store'].$viewValue == '0001' -->







		<!-- ver com os manos sobre, caso eu queira ter um angular.module a mais no mesmo arquivo -->
		<!-- <div ng-app="olhaele" class="jumbo2">
			<div Module.controller="olhaelee">
				<p>HELOOO + {{ olhala }}</p>
			</div>
			
		</div> -->

	</div>
	<!-- Ver com a mentora porque esta dando erro nesta parte
	<div ng-include="'footer.html'"></div> -->

	
	<div class="up" ng-model="algo">
		endd

	</div>

	<h1>DOCUMENTACAO !</h1>


	<div>
		<dumbPassword> </dumbPassword>
	</div>

	<br><br><br>


	<div>
  		<input type="text" ng-model="model.input">
	</div>

	<!-- nao sei pq nao esta fufando mas seria para comparar um objeto com outro -->
<!-- 	<div >
	  <form novalidate>
	    <h3>User 1</h3>
	    Name: <input type="text" ng-model="user1.name">
	    Age: <input type="number" ng-model="user1.age">

	    <h3>User 2</h3>
	    Name: <input type="text" ng-model="user2.name">
	    Age: <input type="number" ng-model="user2.age">

	    <div>
	      <br/>
	      <input type="button" value="Compare" ng-click="compare()">
	    </div>
	    User 1: <pre class="footer">{{user1 | json}}</pre>
	    User 2: <pre class="footer">{{user2 | json}}</pre>
	    Equal: <pre class="footer">{{result}}</pre>
	  </form>
	</div> -->
	

</body>
</html>